$color-logo: #2196f3 ;
$color-logo-st: #000000 ;
$border-color: #ececec;
$link-hover-focus: #2196f3;
$contact-focus: #2196f3;
$contact-link-color: #757575;
$decision-title-color: #ffffff;
$box-shadow: rgba(0, 0, 0, 0.15);
$menu-link-studio-color: #ffffff;
$menu-link-studio-focus-background: #188ce8;
$menu-link-studio-hover-bacground: #188ce8;
$menu-link-background: #2196f3;
$technologies-background-color: #f5f4fa;
$technologies-fill-color: #212121;
$technologies__paragraph: #757575;

$title: #212121;
$whatwedo__title: #212121;
$whatwedo-decor-background-color: rgba(47, 48, 58, 0.8);
$whatwedo-decor-title-color: #ffffff;

$our-team-color: #f5f4fa;
$our-team-li-color: #ffffff;
$our-team-div-background-color: #ffffff;
$our-team-social: #2196f3;
$our-team-social-fill: #afb1b8;
$our-team-social-hover: #2196f3;
$our-team-social-fill-hover: #ffffff;

$footer-color: #2f303a;
$kyiv-color: #ffffff;
$kyiv-hover: #2196f3;
$kyiv-focus: #2196f3;